<a href="https://colab.research.google.com/github/Musanna-al-akil/beyondAI-prep/blob/master/Learn_Python_Pandas_1_Hour_Pandas_Course_for_Beginners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
pd.__version__

'2.2.2'

In [ ]:
s1=pd.Series()

Series([], dtype: object)

In [ ]:
s1

Series([], dtype: object)

In [ ]:
s2 = pd.Series([1,2,3,4,5])

In [ ]:
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s2.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
s2.values

array([1, 2, 3, 4, 5])

In [ ]:
s3 = pd.Series([1,2,3,4,5],index=[10,20,30,40,50])
s3

10    1
20    2
30    3
40    4
50    5
dtype: int64

In [ ]:
scores = pd.Series([3.2,4.5,2.6,4,3],index = ['bob','gorge','alex','fib','alex'])

In [ ]:
scores.index

Index(['bob', 'gorge', 'alex', 'fib', 'alex'], dtype='object')

In [ ]:
scores.values

array([3.2, 4.5, 2.6, 4. , 3. ])

In [ ]:
d = {'Bob': 4.2,'gorge':4.5,'alex':3.3, "noob": 44}

In [ ]:
s4= pd.Series(d)

In [ ]:
s4

Bob       4.2
gorge     4.5
alex      3.3
noob     44.0
dtype: float64

## DataFrame:

In [ ]:
df1 = pd.DataFrame()
type(df1)

pandas.core.frame.DataFrame

In [ ]:
print(df1)

Empty DataFrame
Columns: []
Index: []

RangeIndex(start=0, stop=0, step=1)

In [ ]:
df1.columns
# df1.index

RangeIndex(start=0, stop=0, step=1)

In [ ]:
students_list = [['bobs',"william",26,'computer engineering',87],
                 ['avi','mollik',22,'CSE', 92],
                 ['alex','black',33,'chemistry',97],
                 ['sarah','smith',23,'EEE',88]]

In [ ]:
students_df=pd.DataFrame(students_list)
students_df

       0        1   2                     3   4
0   bobs  william  26  computer engineering  87
1    avi   mollik  22                   CSE  92
2   alex    black  33             chemistry  97
3  sarah    smith  23                   EEE  88

In [ ]:
students_df=pd.DataFrame(students_list,columns=['first_name','last_name','age','Major','score'])
students_df

  first_name last_name  age                 Major  score
0       bobs   william   26  computer engineering     87
1        avi    mollik   22                   CSE     92
2       alex     black   33             chemistry     97
3      sarah     smith   23                   EEE     88

In [ ]:
students_df=pd.DataFrame(students_list,columns=['first_name','last_name','age','Major','score'],index=['bob@email.com','emma@email.com','sarah@email.com','alex@email.com'])

In [ ]:
students_df

                first_name last_name  age                 Major  score
bob@email.com         bobs   william   26  computer engineering     87
emma@email.com         avi    mollik   22                   CSE     92
sarah@email.com       alex     black   33             chemistry     97
alex@email.com       sarah     smith   23                   EEE     88

### convert dictonaires to dataframe

In [ ]:
students_dict = {'first_name':['bobs','avi','alex','sarah'],
                 'last_name':['william','mollik','black','smith'],
                 'age':[26,22,33,23],
                 'Major':['computer engineering','CSE','chemistry','EEE'],
                 'score':[87,92,97,88]}

In [ ]:
student_df2 = pd.DataFrame(students_dict,columns=['last_name','score','city'])
student_df2

  last_name  score city
0   william     87  NaN
1    mollik     92  NaN
2     black     97  NaN
3     smith     88  NaN

In [ ]:
students_df.columns

Index(['first_name', 'last_name', 'age', 'Major', 'score'], dtype='object')

In [ ]:
students_df.index

Index(['bob@email.com', 'emma@email.com', 'sarah@email.com', 'alex@email.com'], dtype='object')

In [ ]:
students_df.shape

(4, 5)

In [ ]:
students_df.head(2)

               first_name last_name  age                 Major  score
bob@email.com        bobs   william   26  computer engineering     87
emma@email.com        avi    mollik   22                   CSE     92

In [ ]:
students_df.tail(3)

                first_name last_name  age      Major  score
emma@email.com         avi    mollik   22        CSE     92
sarah@email.com       alex     black   33  chemistry     97
alex@email.com       sarah     smith   23        EEE     88

In [ ]:
students_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, bob@email.com to alex@email.com
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  4 non-null      object
 1   last_name   4 non-null      object
 2   age         4 non-null      int64
 3   Major       4 non-null      object
 4   score       4 non-null      int64
dtypes: int64(2), object(3)
memory usage: 364.0+ bytes

In [ ]:
students_df.describe()

             age      score
count   4.000000   4.000000
mean   26.000000  91.000000
std     4.966555   4.546061
min    22.000000  87.000000
25%    22.750000  87.750000
50%    24.500000  90.000000
75%    27.750000  93.250000
max    33.000000  97.000000

## Read Data from files

In [2]:
df = pd.read_csv('data_01.csv')
df

      first name  last name  experience   score
0          Alex       Smith     Python       92
1         James       Jones        C++       97
2          Mary    Williams     Python       98
3      Patricia       Brown       Java       87
4      Jennifer      Taylor       HTML       88
5         Emily      Davies   Android        90
6       Michael      Wilson     Python       91
7       Jessica       Evans        C++       95
8          John      Thomas     Python       90
9        Thomas     Roberts       Java       89
10  Christopher      Martin     Python       83
11      Barbara         Lee        C++       86
12      Matthew    Anderson          R       97
13         Mark       White     Python       91
14        Nancy      Taylor       Java       96
15       Andrew       Smith          R       92

In [6]:
df2 = pd.read_csv('data_02.csv', header=None,names=['fname','lname','course','score'])
df2

           fname      lname      course  score
0          Alex       Smith     Python      92
1         James       Jones        C++      97
2          Mary    Williams     Python      98
3      Patricia       Brown       Java      87
4      Jennifer      Taylor       HTML      88
5         Emily      Davies   Android       90
6       Michael      Wilson     Python      91
7       Jessica       Evans        C++      95
8          John      Thomas     Python      90
9        Thomas     Roberts       Java      89
10  Christopher      Martin     Python      83
11      Barbara         Lee        C++      86
12      Matthew    Anderson          R      97
13         Mark       White     Python      91
14        Nancy      Taylor       Java      96
15       Andrew       Smith          R      92

In [8]:
df1= pd.read_csv('data_01.csv',skiprows=1,names=['a','b','c','d'])
df1

               a          b           c   d
0          Alex       Smith     Python   92
1         James       Jones        C++   97
2          Mary    Williams     Python   98
3      Patricia       Brown       Java   87
4      Jennifer      Taylor       HTML   88
5         Emily      Davies   Android    90
6       Michael      Wilson     Python   91
7       Jessica       Evans        C++   95
8          John      Thomas     Python   90
9        Thomas     Roberts       Java   89
10  Christopher      Martin     Python   83
11      Barbara         Lee        C++   86
12      Matthew    Anderson          R   97
13         Mark       White     Python   91
14        Nancy      Taylor       Java   96
15       Andrew       Smith          R   92

In [11]:
df3 = pd.read_csv('data_03.csv', sep = '|')
df3

      first name  last name  experience   score
0          Alex       Smith     Python       92
1         James       Jones        C++       97
2          Mary    Williams     Python       98
3      Patricia       Brown       Java       87
4      Jennifer      Taylor       HTML       88
5         Emily      Davies   Android        90
6       Michael      Wilson     Python       91
7       Jessica       Evans        C++       95
8          John      Thomas     Python       90
9        Thomas     Roberts       Java       89
10  Christopher      Martin     Python       83
11      Barbara         Lee        C++       86
12      Matthew    Anderson          R       97
13         Mark       White     Python       91
14        Nancy      Taylor       Java       96
15       Andrew       Smith          R       92

In [17]:
df4 = pd.read_csv('data_04.csv', comment='#', sep='\t')
df4

      first name  last name  experience   score
0          Alex       Smith     Python       92
1         James       Jones        C++       97
2          Mary    Williams     Python       98
3      Patricia       Brown       Java       87
4      Jennifer      Taylor       HTML       88
5         Emily      Davies   Android        90
6       Michael      Wilson     Python       91
7       Jessica       Evans        C++       95
8          John      Thomas     Python       90
9        Thomas     Roberts       Java       89
10  Christopher      Martin     Python       83
11      Barbara         Lee        C++       86
12      Matthew    Anderson          R       97
13         Mark       White     Python       91
14        Nancy      Taylor       Java       96
15       Andrew       Smith          R       92

In [20]:
df5 = pd.read_csv('data_05.csv',skiprows=3)
df5

      first name  last name  experience   score
0          Alex       Smith     Python       92
1         James       Jones        C++       97
2          Mary    Williams     Python       98
3      Patricia       Brown       Java       87
4      Jennifer      Taylor       HTML       88
5         Emily      Davies   Android        90
6       Michael      Wilson     Python       91
7       Jessica       Evans        C++       95
8          John      Thomas     Python       90
9        Thomas     Roberts       Java       89
10  Christopher      Martin     Python       83
11      Barbara         Lee        C++       86
12      Matthew    Anderson          R       97
13         Mark       White     Python       91
14        Nancy      Taylor       Java       96
15       Andrew       Smith          R       92

## SELECT OPERATION dataframe

In [21]:
df = pd.read_csv('titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [22]:
df.shape

(891, 12)

In [23]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [24]:
df.index

RangeIndex(start=0, stop=891, step=1)

In [26]:
ages = df['Age']
ages

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [27]:
type(ages)

pandas.core.series.Series

In [28]:
ages.mean()

np.float64(29.69911764705882)

In [29]:
ages.max()

80.0

In [30]:
df[['Name','Age']]

                                                  Name   Age
0                              Braund, Mr. Owen Harris  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                             Allen, Mr. William Henry  35.0
..                                                 ...   ...
886                              Montvila, Rev. Juozas  27.0
887                       Graham, Miss. Margaret Edith  19.0
888           Johnston, Miss. Catherine Helen "Carrie"   NaN
889                              Behr, Mr. Karl Howell  26.0
890                                Dooley, Mr. Patrick  32.0

[891 rows x 2 columns]

In [31]:
df.Age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [32]:
df.iloc[0,[1,4]]

Survived       0
Sex         male
Name: 0, dtype: object

In [33]:
df.loc[0,['Survived','Sex']]

Survived       0
Sex         male
Name: 0, dtype: object

In [35]:
df.iloc[:5,:3]

   PassengerId  Survived  Pclass
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

In [37]:
df.iloc[[0,-1],-3:]

     Fare Cabin Embarked
0    7.25   NaN        S
890  7.75   NaN        Q

In [38]:
df.loc[5:10,'Name':'Ticket']

,Name,Sex,Age,SibSp,Parch,Ticket
5,"Moran, Mr. James",male,NaN,0,0,330877
6,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463
7,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909
8,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742
9,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736
10,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549

In [40]:
df.Sex == 'male'

0       True
1      False
2      False
3      False
4       True
       ...
886     True
887    False
888    False
889     True
890     True
Name: Sex, Length: 891, dtype: bool

In [41]:
df.loc[df.Sex == 'male']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [42]:
df.Sex == 'female'

0      False
1       True
2       True
3       True
4      False
       ...
886    False
887     True
888     True
889    False
890    False
Name: Sex, Length: 891, dtype: bool

In [43]:
df.Age >35

0      False
1       True
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [44]:
df.loc[(df.Sex == 'female')&(df.Age >35)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q

## Handling missing and dublicate data

In [45]:
df = pd.read_csv('titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [46]:
df.isna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [47]:
df.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [49]:
df2 = df.dropna(axis=0)
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [50]:
print(df.shape, df2.shape)

(891, 12) (183, 12)

In [53]:
df2 = df.fillna(0)
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,0,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,0.0,1,2,W./C. 6607,23.4500,0,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,0,Q

In [54]:
df2.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin          False
Embarked       False
dtype: bool

In [55]:
df3 = df.fillna(df.mean(numeric_only=True))
df3

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q

In [56]:
df4 = df3.fillna(df.mode().iloc[0])
df4

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,B96 B98,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,B96 B98,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,B96 B98,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,B96 B98,Q

In [57]:
df4.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin          False
Embarked       False
dtype: bool

In [59]:
df.duplicated().any()

np.False_

In [61]:
df_duplicate = pd.concat((df,df.iloc[:3]))
df_duplicate

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

## Structural Manipulation

In [62]:
df = pd.read_csv('employees.csv')
df

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

In [69]:
# df.shape
df.columns

Index(['First Name', 'Gender', 'Start Date', 'Last Login Time', 'Salary',
       'Bonus %', 'Senior Management', 'Team'],
      dtype='object')

In [64]:
df.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services

In [65]:
df.Gender

0        Male
1        Male
2      Female
3        Male
4        Male
        ...
995       NaN
996      Male
997      Male
998      Male
999      Male
Name: Gender, Length: 1000, dtype: object

In [70]:
df.rename({'First Name': 'First_Name', 'Start Date':'Start_Date', 'Last Login Time':'Last_Login_Time',
       'Bonus %':'Bonus', 'Senior Management':'Senior_Management'}, axis=1)

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

In [71]:
df.columns

Index(['First Name', 'Gender', 'Start Date', 'Last Login Time', 'Salary',
       'Bonus %', 'Senior Management', 'Team'],
      dtype='object')

In [72]:
df.rename({'First Name': 'First_Name', 'Start Date':'Start_Date', 'Last Login Time':'Last_Login_Time',
       'Bonus %':'Bonus', 'Senior Management':'Senior_Management'}, axis=1, inplace=True)

In [73]:
df.columns

Index(['First_Name', 'Gender', 'Start_Date', 'Last_Login_Time', 'Salary',
       'Bonus', 'Senior_Management', 'Team'],
      dtype='object')

In [75]:
df['Bonus2'] = df.Bonus.round()

In [76]:
df

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,7.0
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN,4.0
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,12.0
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance,9.0
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services,1.0
...,...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution,17.0
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance,20.0
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product,1.0
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development,12.0
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales,10.0

In [77]:
import numpy as np

In [79]:
df['random'] = pd.Series(np.random.randint(0,10,1000))

In [80]:
df

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2,random
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,7.0,8
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN,4.0,3
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,12.0,0
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance,9.0,7
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services,1.0,6
...,...,...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution,17.0,6
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance,20.0,4
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product,1.0,0
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development,12.0,8
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales,10.0,5

In [81]:
df2 = df.iloc[:2]
df2

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2,random
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,7.0,8
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN,4.0,3

In [82]:
df3 = pd.concat((df,df2),axis=0)
df3

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2,random
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,7.0,8
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN,4.0,3
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,12.0,0
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance,9.0,7
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services,1.0,6
...,...,...,...,...,...,...,...,...,...,...
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product,1.0,0
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development,12.0,8
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales,10.0,5
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,7.0,8
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN,4.0,3

In [83]:
df3 = pd.concat((df,df2),axis=0,ignore_index=True)
df3

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2,random
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,7.0,8
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN,4.0,3
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,12.0,0
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance,9.0,7
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services,1.0,6
...,...,...,...,...,...,...,...,...,...,...
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product,1.0,0
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development,12.0,8
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales,10.0,5
1000,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,7.0,8
1001,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN,4.0,3

In [84]:
df4 = df.drop(['First_Name'],axis = 1)
df4

,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2,random
0,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,7.0,8
1,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN,4.0,3
2,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,12.0,0
3,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance,9.0,7
4,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services,1.0,6
...,...,...,...,...,...,...,...,...,...
995,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution,17.0,6
996,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance,20.0,4
997,Male,5/20/2013,12:39 PM,96914,1.421,False,Product,1.0,0
998,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development,12.0,8
999,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales,10.0,5

In [86]:
df5= df.drop(range(5),axis=0)
df5

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus,Senior_Management,Team,Bonus2,random
5,Dennis,Male,4/18/1987,1:35 AM,115163,10.125,False,Legal,10.0,7
6,Ruby,Female,8/17/1987,4:20 PM,65476,10.012,True,Product,10.0,6
7,NaN,Female,7/20/2015,10:43 AM,45906,11.598,NaN,Finance,12.0,5
8,Angela,Female,11/22/2005,6:29 AM,95570,18.523,True,Engineering,19.0,5
9,Frances,Female,8/8/2002,6:51 AM,139852,7.524,True,Business Development,8.0,9
...,...,...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution,17.0,6
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance,20.0,4
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product,1.0,0
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development,12.0,8
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales,10.0,5

## DATA Transformation

In [87]:
df = pd.read_csv('employees.csv')

In [88]:
df

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

In [89]:
df.Gender.value_counts()

Gender
Female    431
Male      424
Name: count, dtype: int64

In [91]:
df.Gender.isna().sum()

np.int64(145)

In [93]:
df['Gender2'] = pd.Categorical(df.Gender)

In [94]:
df.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team,Gender2
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,Male
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN,Male
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,Female
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance,Male
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services,Male

In [95]:
df.memory_usage()

Index                 132
First Name           8000
Gender               8000
Start Date           8000
Last Login Time      8000
Salary               8000
Bonus %              8000
Senior Management    8000
Team                 8000
Gender2              1124
dtype: int64

In [96]:
import random

In [97]:
df['score'] = random.choices(['Very Low','Low','Medium','High','Very High'],k=1000)

In [98]:
df.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team,Gender2,score
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,Male,Low
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN,Male,High
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,Female,Medium
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance,Male,Low
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services,Male,Medium

In [99]:
df.dtypes

First Name             object
Gender                 object
Start Date             object
Last Login Time        object
Salary                  int64
Bonus %               float64
Senior Management      object
Team                   object
Gender2              category
score                  object
dtype: object

In [102]:
df['Score2']=pd.Categorical(df.score,categories=['Very Low','Low','Medium','High','Very High'],ordered=True)

In [104]:
sum(df.Score2>'Medium')

393

In [105]:
df.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team,Gender2,score,Score2
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,Male,Low,Low
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN,Male,High,High
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,Female,Medium,Medium
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance,Male,Low,Low
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services,Male,Medium,Medium

In [106]:
df.Salary.min()

35013

In [107]:
df.Salary.max()

149908

In [109]:
df['cat_salary']=pd.cut(df.Salary,bins=[35000,50000,75000,100000,125000,150000], labels=['Very Low','Low','Medium','High','Very High'])

In [110]:
df

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team,Gender2,score,Score2,cat_salary
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing,Male,Low,Low,Medium
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN,Male,High,High,Low
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance,Female,Medium,Medium,Very High
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance,Male,Low,Low,Very High
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services,Male,Medium,Medium,High
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution,NaN,High,High,Very High
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance,Male,Very Low,Very Low,Very Low
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product,Male,Very Low,Very Low,Medium
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development,Male,Low,Low,Low
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales,Male,Very Low,Very Low,Very High

In [111]:
df.memory_usage()

Index                 132
First Name           8000
Gender               8000
Start Date           8000
Last Login Time      8000
Salary               8000
Bonus %              8000
Senior Management    8000
Team                 8000
Gender2              1124
score                8000
Score2               1212
cat_salary           1212
dtype: int64